# User-specific locally generated configurations
.vscode
.idea

/target
/reports

telegram_config.json
tele_multi_runner.py

data/episodes
data/qtable
data/plotter
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/Skripsi-Progress