# User-specific locally generated configurations
.vscode
.idea

/target
/reports
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/Skripsi/
/.venv/
__pycache__/

# Any .env or subfolder sof envs file that may contain sensitive information
.env